---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

          <p>Sono consulente freelance e trainer in business agility, focalizzato nell'aiutare i singoli, i team e le aziende ad adottare nuovi modi di lavorare per la realizzazione del valore aziendale.</p>
          <p>Ho solido background tecnico avendo lavorato per oltre 30 anni nell'IT come Sviluppatore, System Integrator e Responsabile delle Operazioni IT.</p>
          <p>Sono un <i>Professional Scrum Trainer</i> (PST), un <i>Accredited Kanban Trainer</i> (AKT) e un practitioner di "<i>Training from the BACK of the Room</i>". Tengo corsi pubblici e privati su Kanban, Scrum, Agile, PMI-ACP, PM Tradizionale (PMBOK). Negli ultimi due anni ho formato oltre 2000 persone alle pratiche agili e lean.</p>
          <p>Sono anche l'organizzatore di <b>"<a href="https://www.meetup.com/Agile_Talks/">Agile Talks</a>"</b>, la più grande comunità agile attiva di Roma con oltre 1500 iscritti, creata per aiutare le persone a colmare il divario di conoscenza sulle tematiche agili e lean.</p>
         <p>Ho tenuto conferenze e workshop in eventi pubblici nel Regno Unito e in Italia, in italiano ed in inglese.</p>
        
      </div>
    </div>
  </div>
