---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

          <p>Sono consulente freelance e trainer di business agility, focalizzato nell'aiutare i singoli, i team e le aziende ad adottare nuovi modi di lavorare per la realizzazione del valore aziendale.</p>
          <p>Ho solido background tecnico avendo lavorato per oltre 30 anni nell'IT come Sviluppatore, System Integrator e Responsabile delle Operazioni IT.</p>
          <p>Sono un Professional Scrum Trainer (PST), un Kanban Trainer Accreditato (AKT) e un practitioner di "Training from the BACK of the Room".</p>
          <p>Sono anche l'organizzatore di <b>"<a href="https://www.meetup.com/Agile_Talks/">Agile Talks</a>"</b>, la più grande comunità agile attiva di Roma (Italia), creata per aiutare le persone a colmare il divario di conoscenza agile. Ho tenuto conferenze e workshop in eventi pubblici nel Regno Unito e in Italia.</p>
        
      </div>
    </div>
  </div>
