---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Post di
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              - {{ page.date | date: '%B %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">
            
        {% assign tag = page.tags[0] %}

{% for post in site.tags[tag] %}
  {% if post.url == page.url %}
    {% assign post_index0 = forloop.index0 %}
    {% assign post_index1 = forloop.index %}
  {% endif %}
{% endfor %}

{% for post in site.tags[tag] %}
  {% if post_index0 == forloop.index %}
    {% assign next_post = post %}
  {% endif %}
  {% if post_index1 == forloop.index0 %}
    {% assign prev_post = post %}
  {% endif %}
{% endfor %}
      
  {% if tag == 'event' %}
    {% assign button = 'Evento' %}
  {% elsif tag == 'class' %}
    {% assign button = 'Corso' %}
  {% else %}
    {% assign button = 'Post' %}
  {% endif %}


         {% if prev_post %}
          <a class="btn btn-primary float-left" href="{{ prev_post.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ prev_post.title }}">&larr; {{ button }} <span class="d-none d-md-inline">
              precedente</span></a>
          {% endif %}
     {% if next_post %}
          <a class="btn btn-primary float-right" href="{{ next_post.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ next_post.title }}">{{ button }} <span class="d-none d-md-inline">
              Successivo</span> &rarr;</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
