---
layout: page
title: Events
description: Prossimi eventi pubblici
background: '/img/bg-events.jpg'
---

{% for post in site.posts %}
{% if post.tags[0] == 'event' %}
<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">
         [{% if post.where %}
            {{ post.where }} &middot;
        {% endif %}
        {% if post.when %}
            {{ post.when }}
        {% endif %}
        ] {{ post.title }}
    </h2>
    {% if post.description %}
    <h3 class="post-subtitle">{{ post.descriptio }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">
    Post di
    {% if post.author %}
    {{ post.author }}
    {% else %}
    {{ site.author }}
    {% endif %} (Creato: {{ post.date | date: '%m/%Y' }} &middot; Ultima modifica: {{ post.last_modified_at | date: '%m/%Y' }} &middot; {% include read_time.html content=post.content %} )
  </p>
</article>

<hr>
{% endif %}
{% endfor %}
